{% extends 'home/base.html' %}
{% load static %}
{% load getFirst %}
{% load humanize %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="container-fluid" id="main">
        <div class="container m-2 border">
            <div class="row text-center text-capitalize mb-2">
                <h2>
                    {{ account }}
                </h2>
            </div>
            <div class="row">
                <div class="col-4 mx-auto border">
                    <img src="http://localhost:3000/proxy?url={{ account.profilePic }}" class="card-img-top" alt="{{ account.username }}"/>
                </div>
                <div class="col-8 mx-auto">
                    <div class="row row-cols-auto">
                        <div class="col mx-auto">
                            <div class="row">
                                <h4 class="text-center text-muted">
                                    Followers
                                </h4>
                            </div>
                            <div class="row">
                                <h4 class="text-center text-primary">
                                    {{ account.followers|getFirst|intcomma }}
                                </h4>
                            </div>
                        </div>
                        <div class="col mx-auto">
                            <div class="row">
                                <h4 class="text-center text-muted">
                                    Following
                                </h4>
                            </div>
                            <div class="row">
                                <h4 class="text-center text-primary">
                                    {{ account.following|getFirst|intcomma }}
                                </h4>
                            </div>
                        </div>
                        <div class="col mx-auto">
                            <div class="row">
                                <h4 class="text-center text-muted">
                                    Media
                                </h4>
                            </div>
                            <div class="row">
                                <h4 class="text-center text-primary">
                                    {{ account.medias|getFirst|intcomma }}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-auto">
                        <div class="col mx-auto">
                            <div class="row">
                                <h4 class="text-center text-muted">
                                    Bio
                                </h4>
                            </div>
                            <div class="row">
                                <h4 class="text-center text-primary">
                                    {{ account.bio }}
                                </h4>
                            </div>
                            <div class="row">
                                <h4 class="text-center text-muted">
                                    Hashtags
                                </h4>
                            </div>
                            <div class="row">
                                <h4 class="text-center text-primary">
                                    {{ account.hashtags }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}