{% extends "home/base.html" %}
{% load static %}
{% load getFirst %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{%  endblock head %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-row flex-nowrap overflow-auto">
            {% for project in request.user.owner.all.reverse %}
                <div class="col" id="card-scroll">
                    <div class="card card-block border hover-shadow">
                        <h5 class="card-header text-center text-primary">
                            {{ project.projectName }} - {{ project.projectOwner }}
                        </h5>
                        <p class="text-center text-muted">
                            {{ project.projectSize }} Accounts Left
                        </p>
                        <a href="?project={{ project }}" class="hidden stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row mt-5 text-center text-muted border-bottom">
            <h3>
                {{ project.projectName }}
            </h3>
        </div>

        <div class="row row-cols-auto mx-auto my-2">
            <div class="col mx-auto mb-3">
                <div class="dropdown">
                    <button
                            class="btn btn-outline-info btn-rounded dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Sort By
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="{% url 'projects' %}?project={{ project }}&sort=V">
                                Views
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'projects' %}?project={{ project }}&sort=L">
                                Likes
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'projects' %}?project={{ project }}&sort=C">
                                Comments
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col mx-auto">
                <a href="{% url 'media' %}?project={{ project }}" class="btn btn-outline-info btn-rounded">
                    Analyze Media
                </a>
            </div>
        </div>
        <input type="date">

        <div class="row mt-5">
            <div class="col-md-10 col-sm-12 mx-auto border-end">
                <div class="row row-cols-auto overflow-auto mb-3">
                    {% for account in accounts %}
                        <div class="col mx-auto my-1">
                            <div class="card account-card hover-shadow border">
                                <img src="{% static 'accounts/profilePictures/'|add:account.accountId|add:'.png' %}" class="card-img-top" alt="{{ account.username }}"/>
                                <div class="card-header">
                                    <h5 class="card-title text-center">
                                        {{ account }}
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="row row-cols-auto">
                                        <div class="col mx-auto">
                                            <div class="row">
                                                <h6 class="text-center">
                                                    Followers
                                                </h6>
                                            </div>
                                            <div class="row">
                                                <h5 class="text-center text-primary">
                                                    {{ account.followers|getFirst|intcomma }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col mx-auto">
                                            <div class="row">
                                                <h6 class="text-center">
                                                    Followers
                                                </h6>
                                            </div>
                                            <div class="row">
                                                <h5 class="text-center text-primary">
                                                    {{ account.following|getFirst|intcomma }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col mx-auto">
                                            <div class="row">
                                                <h6 class="text-center">
                                                    Followers
                                                </h6>
                                            </div>
                                            <div class="row">
                                                <h5 class="text-center text-primary">
                                                    {{ account.medias|getFirst|intcomma }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mx-auto">
                                    <a class="btn btn-danger" href="{% url 'projects' %}?project={{ project }}&remove={{ account.accountId }}">
                                        Remove {{ account }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mx-auto mb-5 mt-2">
                <div class="row row-cols-auto">

                    <div class="col-12 mx-auto border-bottom">
                        <div class="row text-muted">
                            <h5 class="text-center">
                                Accounts Left
                            </h5>
                        </div>
                        <div class="row text-primary">
                            <h3 class="text-center">
                                {{ project.projectSize }}
                            </h3>
                        </div>
                    </div>

                    <div class="col-12 mx-auto mt-5 border-bottom">
                        <div class="row text-muted">
                            <h5 class="text-center">
                                Project Analytics
                            </h5>
                        </div>
                        <div class="row">
                            <small class="text-center text-primary">
                                Project Analytics goes here.
                            </small>
                        </div>
                    </div>

                    <div class="col-12 mx-auto mt-5 border-bottom overflow-auto">
                        <div class="row text-muted mb-2">
                            <h5 class="text-center">
                                Shared With
                            </h5>
                        </div>
                        <div class="row row-cols-1 overflow-auto">
                            {% for user in project.projectGuests.all %}
                                <div class="col mx-auto my-1">
                                    <div class="card border d">
                                        <h6 class="text-center text-primary">
                                            {{ user }}
                                        </h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 mx-auto mt-4">
                        <div class="row mx-auto">
                            <button class="btn btn-outline-info btn-rounded" disabled>
                                Add Friends
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}