img, video {
    max-height: 95%;
    max-width: 95%;
}

.media-content-container {
    width: 300px;
    height: 300px
}

.caption {
    max-height: 100px;
    max-width: 300px
}

.scroll-section {
    max-height: 100%;
    overflow-y: auto;
}

#main {
    height: 96vh;
}