#quick-search {
    max-width: 95vw;
}

.summery {
    max-width: 20rem;
}

.account-list-image {
    max-width: 100px;
}

.account-list{
    max-height: 150px;
}

#down-content {
    max-height: 50vh;
}

@media (max-width: 767px) {
    .account-list-image {
        max-height:50px;
    }

    #down-content {
        max-height: 25vh;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

}

#main {
    height: 96vh;
}